wheel==0.30.0
urllib3==1.22
pyasn1==0.3.7
pyOpenSSL==17.3.0
ndg-httpsclient==0.4.3
colorlog==3.1.0
ujson==1.35
validictory==1.1.1
attrdict==2.0.0
decorator==4.1.2
psycopg2==2.7.3.2
SQLAlchemy==1.1.5
chardet==3.0.4
coverage==4.1
pytest==2.9.2
pytest-runner==2.11.1
lxml==3.8.0
